.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Timer{
  margin:2em;
  display:flex;
  justify-content: space-around;
}

.Box{
  border: 2px solid #D6D7DA;
  border-radius: 5px;
  width: 10em;
  height: 8em;
}
.Enum{
  color:#A19E9E;
}
label{
  display:block;
}
input[type='number']{
  width:20em;
  height: 4em;
}
.setButton{
  margin-top:5em;
  width: 10em;
  align-self: center;
}
input, select {
    font-size:12px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    line-height: 2em;
    border: 1px solid #D6D7DA;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
}
.Input{
  display:flex;
  flex-direction: column;
  margin:5em;
  padding: 0 5em 5em 5em;
  border: 2px solid #D6D7DA;
  border-radius: 5px;
  align-content: center;
}
.Set{
  display:flex;
  justify-content: space-around;
}